@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 91%;
    margin: auto;
}
.Logo{
    color: white;
    margin-top: 40px;
}
body{
 background: #E5E5E5;
}

.contenedor{
    display: flex;  
    flex-direction: row;
}
.Challenge_Entrada{
    background-color: #E5E5E5;
    margin: 80px 80px 72px 240px;
}
.Textarea{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: darkblue;
    /* border: none;*/
    width: 680px;
    height: 300px;
    background: transparent;
}
.Textarea::placeholder{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: darkblue;
}
.Textarea:focus,
.Textarea:active{
    border: none;
    outline: none;
}
.Signo{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: gray; 
    border-radius: 50%; 
    color: white;
    text-align: center;
    line-height: 20px; 
    font-weight: bold;
    margin-right: 8px; 
}
.Advertencia{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: gray;
    
    display: flex;
    align-items: center;
    padding: 1% 5%;
}

.Challenge_Salida{
    background-color: gray;
}

.Challenge_footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}