@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    position: absolute;
    width: 100%;
    margin: 40px 0px 0px 40px;
}
.Logo{
    color: white;
}
body{
 background: #E5E5E5;
}

.contenedor{
    width: 100%;
    display: flex;  
    flex-direction: row;
}
.Challenge_Entrada{
    width: 60%;
    margin: 168px 0px 72px 240px;
}

.Textarea{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: darkblue;
    border: none;
    background: transparent;
    width: 600px;
    height: 288px;
}
.Textarea::placeholder{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: darkblue;
}
.Textarea:focus,
.Textarea:active{
    border: none;
    outline: none;
}
.Contenedor_Aviso{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 395px;
}
.Signo{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: gray; 
    border-radius: 50%; 
    color: white;
    text-align: center;
    line-height: 20px; 
    font-weight: bold;
    margin-right: 8px; 
}
.Advertencia{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
}
.Botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    margin-top: 16px;
}
.boton_encriptar{
    width: 328px;
    height: 67px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
    border: 1px solid #0A3871;
    cursor: pointer;
}
.boton_desencriptar{
    width: 328px;
    height: 67px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 24px; 
    border: 1px solid #0A3871; 
    cursor: pointer;
}

.Challenge_Salida{
    width: 31.5%;
    height: 944px;
    margin: 40px 40px 40px 0px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 32px;
    text-align: center;
}
.desencritar{
    width: 336px;
    margin: auto;
    margin-top: 50%;
}
.muñeco{
    background-color: #FFFFFF;
}
.Titulo{
    margin-top: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    background: transparent;
    color:#343A40;
    text-align: center;
}
.Parrafo{
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #495057;
    text-align: center;
    background: transparent;
}
.Mostar_Mensaje{
    width: 84%;
    height: 781px;
    position: absolute;
    top: 32px;
    left: 32px;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#495057;
    background: transparent;
    border: none;
}
.Mostar_Mensaje:focus{
    border: none;
    outline: none;
}
.btn_copiar{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 336px;
    height: 67px;
    margin: 32px;
    border-radius: 24px; 
    border: 1px solid #0A3871; 
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#0A3871;
    visibility: hidden;
}
.boton_desencriptar:hover,
.boton_encriptar:hover,
.btn_copiar:hover{
    transform: scale(0.97);
}
.Challenge_footer{
    margin-top: 15px;
    height: 60px;

    background-color: #0A3871;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
}

/*
Arreglo de la Responsividad
*/