@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --ColorPrimario:#E5E5E5;
    --ColorSecundario:#0A3871;
    --ColorTerciario:#495057;
    --Color:white;
    --FamiliaFuente:"Inter", sans-serif;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}
header .Logo{
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}
body{
 background: var(--ColorPrimario);
}

.contenedor{
    width: 100%;
    display: flex;  
    flex-direction: row;
}
.Challenge_Entrada{
    width: 60%;
    margin: 168px 0px 72px 240px;
}

.Textarea{
    font-family: var(--FamiliaFuente);
    font-weight: 400;
    font-size: 32px;
    color: var(--ColorSecundario);
    border: none;
    background: transparent;
    width: 600px;
    height: 288px;
}
.Textarea::placeholder{
    font-family: var(--FamiliaFuente);
    font-weight: 400;
    font-size: 32px;
    color: var(--ColorSecundario);
}
.Textarea:focus,
.Textarea:active{
    border: none;
    outline: none;
}
.Contenedor_Aviso{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50.4%;
}
.Signo{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: gray; 
    border-radius: 50%; 
    color: var(--ColorPrimario);
    text-align: center;
    line-height: 20px; 
    font-weight: bold;
    margin-right: 8px; 
}
.Advertencia{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--ColorTerciario);
}
.Botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    margin-top: 16px;
}
.boton_encriptar{
    width: 328px;
    height: 67px;
    font-family:var(--FamiliaFuente);
    font-weight: 400;
    font-size: 16px;
    background-color: var(--ColorSecundario);
    color: var(--ColorPrimario);
    border-radius: 24px;
    border: 1px solid var(--ColorSecundario);
    cursor: pointer;
}
.boton_desencriptar{
    width: 328px;
    height: 67px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 24px; 
    border: 1px solid #0A3871; 
    cursor: pointer;
}

.Challenge_Salida{
    width: 25%; /*336*/
    height: 944px;
    margin: 40px 40px 40px 40px; 
    position: relative;
    background-color: var(--Color);
    border-radius: 32px;
    text-align: center;
}
.desencritar{
    width: 321px;
    margin: auto;
    margin-top: 50%;
}
.muñeco{
    background-color: var(--Color);
    width: 100%;
}
.Titulo{
    margin-top: 32px;
    font-family: var(--FamiliaFuente);
    font-weight: 700;
    font-size: 24px;
    background: transparent;
    color:var(--ColorTerciario);
    text-align: center;
}
.Parrafo{
    margin-top: 16px;
    font-family: var(--FamiliaFuente);
    font-weight: 400;
    font-size: 16px;
    color: var(--ColorTerciario);
    text-align: center;
    background: transparent;
}
.Mostar_Mensaje{
    width: 84%;
    height: 781px;
    position: absolute;
    top: 32px;
    left: 32px;

    font-family: var(--FamiliaFuente);
    font-weight: 400;
    font-size: 24px;
    color:var(--ColorTerciario);
    background: transparent;
    border: none;
}
.Mostar_Mensaje:focus{
    border: none;
    outline: none;
}
.btn_copiar{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 80%;
    height: 67px;
    margin: 32px;
    border-radius: 24px; 
    border: 1px solid var(--ColorSecundario); 
    cursor: pointer;
    font-family: var(--FamiliaFuente);
    font-weight: 400;
    font-size: 16px;
    color:var(--ColorSecundario);
    visibility: hidden;
}
.boton_desencriptar:hover,
.boton_encriptar:hover,
.btn_copiar:hover{
    transform: scale(0.97);
}
.Challenge_footer{
    height: 30px;
    background-color: var(--ColorSecundario);
    text-align: center;
    font-family: var(--FamiliaFuente);
    font-weight: 400;
    color: var(--Color);
}

/*
Arreglo de la Responsividad
*/
@media(max-width:1250px){
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .Challenge_Entrada{
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }
    .Contenedor_Aviso{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin:15px;
    }
    .muñeco{
        display: none;
    }
    .Challenge_Salida{
        width: 668px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .desencritar{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 40%;

        font-size: 24px;
        font-weight: 700;
    }
    .btn_copiar{
        position: inherit;
        width: 100%;
    }
    .Mostar_Mensaje{
        width: 100%;
        height: 210px;  
    }
}

@media(max-width:720px){
    header .Logo{
        width: 100%;
        background: transparent;
        padding: 2px;
    }
    .Textarea{
        width: 90%;
        font-size: 24px;
    }
    .Botones{
        display: grid;
        gap: 21px;
    }
    .Challenge_Salida{
        width: 90%;
    }
    
}